#footer{
    padding: 20px 0;
    text-align: center;

    h2{
        font-size: 1rem;
        cursor: pointer;
    }
    p, a{
        font-size: .8rem;
        font-family: $font1;
        font-weight: 200;
        cursor: pointer;
        margin: 20px 0 0;
        letter-spacing: 1px;
    }
}