#header {
  min-height: 90vh;
  position: relative;

  .nav {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    position: fixed;
    max-width: 1100px;
    width: 100%;
    background: $grey;
    z-index: 1000;

    .left_part {
      h1 {
        font-size: 1.8rem;
      }
    }
    ul {
      @include diflex;
      gap: 40px;
      font-size: 0.8rem;

      li {
        padding: 4px 1px;
        position: relative;
        letter-spacing: 1px;
        transition: width 0.4s ease;

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          background: $white;
          bottom: 0;
          left: 0;
          transition: width 0.4s ease;
        }
        &:hover::after {
          width: 100%;
        }
        &:hover a {
          color: $rose;
        }
      }
      .active {
        a {
          color: $rose;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: $white;
          bottom: 0;
          left: 0;
          transition: width 0.4s ease;
        }
      }
      &:hover li:not(:hover){
        &::after{
            width: 0;
        }
        a{
          color: $white;
        }
      }
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .header_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5px;

    transition: 0.4s ease;
    animation: moveTop 4s forwards;
    opacity: 0;
    overflow: hidden;

    @keyframes moveTop {
      100% {
        top: 50%;
        opacity: 1;
      }
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-rows: 60% 40%;
    }

    .left_part {
      width: 100%;
      p {
        font-size: 0.9rem;
        letter-spacing: 1.4px;
        @media screen and (max-width: 800px) {
          &:nth-child(1) {
            display: none;
          }
        }
      }
      h2 {
        margin: 10px 0;
        margin-left: -100%;
        width: 90%;

        transition: 0.5s ease;
        animation: type 7s forwards;

        @media screen and (max-width: 800px) {
          margin: 20px 0;
        }

        @keyframes type {
          50% {
            margin-left: 50%;
          }
          100% {
            margin-left: 0;
          }
        }
      }
      button {
        width: 15%;
        margin: 20px 0;

        a {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 800px) {
          margin: 30px 0;
        }
        @media screen and (max-width: 780px) {
          width: 20%;
        }
        @media screen and (max-width: 590px) {
          width: 30%;

          a {
            font-size: 0.7rem;
          }
        }
      }
      .social {
        @include diflex;
        justify-content: left;
        gap: 25px;

        div {
          background: $white;
          width: 30px;
          height: 30px;
          border-radius: 150px;
          position: relative;

          a {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          svg {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
    .right_left {
      width: 100%;
      @media screen and (max-width: 800px) {
        text-align: right;
      }
      img {
        width: 80%;
        object-fit: cover;
        border-radius: 100%;

        @media screen and (max-width: 800px) {
          width: 230px;
          padding: 30px 0;
        }
      }
    }
  }
}
